/* Contenedor principal del productor */
.productorContainer {
    padding: 20px;
    background-color: var(--white1);
    min-height: calc(100vh - 60px); 
    margin-left: 130px; 
    margin-top: 50px;
    margin-right: 50px;
    transition: margin-left 0.3s ease-in-out; 
}