.container {
    display: flex;
    overflow: hidden; /* Evita que el contenido desborde */
}

.sidebar {
    position: fixed; /* Fija el menú en su posición */
    top: 0; /* Alinea el menú con la parte superior de la ventana */
    left: 0; /* Alinea el menú con el lado izquierdo de la ventana */
    background-color: var(--grey2); /* Fondo del menú */
    color: var(--black); /* Color del texto */
    width: 250px; /* Ancho del menú expandido */
    height: 100vh; /* Asegura que el menú ocupe toda la altura de la ventana */
    transition: width 0.3s ease-in-out; /* Transición suave al colapsar/expandir */
    overflow: hidden; /* Oculta el contenido que exceda el ancho */
    z-index: 1; /* Asegura que el menú esté por encima del contenido principal */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto coloca el footer al final */
}

.container.collapsed .sidebar {
    width: 60px; /* Ancho del menú colapsado */
}

.navList {
    position: relative;
    top: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    display: flex;
    flex-direction: column; /* Ajusta para sublistas */
    align-items: flex-start; /* Alinea el contenido de forma adecuada */
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease-in-out;
}

.navItem:hover {
    background-color: #6c6b6b7c;
    color: #343434;
}

.navItem.selected {
    background-color: #5554548d; /* Color para el ítem seleccionado */
    color: var(--white); /* Cambia el color del texto */
}

.navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    transition: margin 0.3s ease;
}

.container.collapsed .icon {
    margin-right: 0; /* Elimina el margen en el menú colapsado */
}

.navLabel {
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.container.collapsed .navLabel {
    opacity: 0; /* Oculta el texto en el menú colapsado */
}

.submenuContainer {
    max-height: 0; /* Oculta el submenú inicialmente */
    overflow: hidden; /* Oculta el contenido que exceda el contenedor */
    opacity: 0; /* Submenú invisible por defecto */
    width: 100%; /* Para mantener alineado con el contenedor principal */
    transition: max-height 0.4s ease, opacity 0.4s ease; /* Transición suave para el despliegue */
}

.submenuOpen {
    max-height: 500px; /* Altura máxima para mostrar el submenú */
    opacity: 1; /* Hace visible el submenú */
}

.submenu {
    list-style: none;
    padding-left: 20px; /* Desplaza las sublistas a la derecha */
    margin: 0;
}

.submenuItem {
    padding: 10px 15px;
    text-decoration: none;
    color: #444444;
    border: 1px solid transparent;
    display: block;
    transition: color 0.3s ease, padding-left 0.3s ease, border-bottom 0.3s ease-in-out; /* Animación suave */
}

.submenuItem:hover {
    color: #fff;
    padding-left: 25px; /* Añade un efecto de desplazamiento al pasar el mouse */
    border-bottom: 1px solid var(--vino-red);
}

.content {
    flex: 1;
    margin-left: 200px; /* Deja espacio para el menú expandido */
    padding: 20px;
    background-color: #ecf0f1;
    transition: margin-left 0.3s ease-in-out;
}

.container.collapsed .content {
    margin-left: 60px; /* Ajusta el margen cuando el menú está colapsado */
}

/* Estilos para el ícono de flecha */
.iconFlecha {
    width: 16px;
    height: 16px;
    margin-left: auto; /* Alinea la flecha al lado derecho */
    transition: transform 0.4s ease; /* Transición suave para la rotación */
}

.iconRotated {
    transform: rotate(90deg); /* Rota la flecha 90 grados */
}
/* footer menu */
.footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--vino-red);
    background-color: #343434d2; /* Mantiene el color del menú */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave para mostrar/ocultar */
}
.container.collapsed .footer {
    opacity: 0; /* Oculta el footer cuando el menú está colapsado */
    transform: translateY(20px); /* Desplaza el footer hacia abajo */
    pointer-events: none; /* Evita que sea interactivo cuando está oculto */
}


.iconsalida {
    width: 20px; /* Tamaño fijo del ícono */
    height: 20px;
    flex-shrink: 0; /* Evita que el ícono cambie de tamaño */
}

.logoutButton {
    display: flex; /* Usa Flexbox para alinear el contenido */
    align-items: center; /* Alinea verticalmente el ícono y el texto */
    justify-content: center; /* Alinea horizontalmente el contenido */
    gap: 10px; /* Espaciado entre el ícono y el texto */
    width: 100%;
    padding: 10px 0;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Transición suave */
}


.logoutButton:hover {
    background-color: #c0392b;
}
