.loginContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    background-color: var(--lithg-green); /* Fondo claro institucional */
    padding: 100px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #3a1c1c;
}
.slider {
    flex: 1;
    max-width: 350px; /* Ancho máximo para el slider */
    height: 300px; /* Altura fija para el slider */
    text-align: center;
    background-color: #fafafa; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.897);
    padding: 20px;
    overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del contenedor */
    position: relative; /* Necesario para posicionar las imágenes */
    transition: all 0.3s ease-in-out;
}
.sliderImage {
    width: 90%;
    height: 80%;
    border-radius: 20px; /* Bordes redondeados */
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}


.sliderText {
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: #252525;
    position: relative;
    top: -6%;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.loginCard {
    flex: 1;
    max-width: 285px; /* Ancho máximo del formulario */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.897);
    padding: 60px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.loginTitle {
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.submitButton {
    width: 50%;
    padding: 5px;
    background-color: var(--lithg-green); /* Azul institucional */
    color: #fdfdfde5;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
::placeholder{
    color: #6d6c6c;
    font-size: 13px;
}

.submitButton:hover {
    background-color: #66a170; /* Azul más oscuro */
}

/* Contenedor de frases */
.phraseContainer {
    margin-top: 20px; /* Espaciado superior respecto al formulario */
    padding: 10px;
    background-color: #f9f9f9; /* Fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 2px 5px rgb(109, 156, 109); /* Sombra suave */
    text-align: center; /* Centra el texto */
}

/* Estilo de las frases */
.phrase {
    font-family: 'Poppins', sans-serif; /* Fuente moderna */
    font-size: 11px; /* Tamaño de fuente */
    color: #303030; /* Color del texto */
    font-weight: 500;
    margin: 5px 0; /* Espaciado entre frases */
    line-height: 1.2; /* Altura de línea */
}

.iconllave {
    width: 20px; /* Reduce el tamaño del ícono */
    height: 12px;
}

/* Grupo de entrada con ícono */
.inputGroup {
    position: relative; /* Contenedor relativo para posicionar el ícono */
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espaciado entre campos */
}

/* Campo de entrada */
.inputField {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 5px 5px 5px 5px; /* Deja espacio para el ícono a la derecha */
    font-size: 12px;
    background-color: #ffffffef;
    color: #4d4c4c;
    border: 2px solid var(--lithg-green);
    border-radius: 20px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}
/* Campo de entrada en foco */
.inputField:focus {
    border-color: #9eec94d7; /* Cambia el color del borde al enfocar */
}


/* Ícono dentro del campo */
.icon {
    position: absolute;
    right: 15px; /* Alinea el ícono a la derecha */
    width: 20px;
    height: 20px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    z-index: 10; /* Asegura que el ícono esté encima del campo */
    top: 50%; /* Centra el ícono verticalmente */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
}
