/* Contenedor principal del Bitacora */
.bitacoraContainer {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: calc(100vh - 60px); 
    margin-left: 150px; 
    margin-top: 50px;
    margin-right: 50px;
    transition: margin-left 0.3s ease-in-out; 
}
