/* Header Principal */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background-color: var(--grey2); /* Mantiene el color de fondo */
    color: #343434; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre los elementos */
    padding: 0 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.298); /* Sombra ligera */
    z-index: 2; /* Asegura que el header esté por encima del contenido */
    
}

/* Logo y título */
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute; /* Posiciona el contenedor del logo y título */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-30%); /* Ajusta el centro del contenedor */
}

.logo {
    width: 80px;
    height: 65px;
    margin-right: 10px;
    transform: translateX(-600%);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343434; /* Mantiene el color del título */
    transform: translateX(-50%);
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Menú del usuario */
.userMenu {
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja el menú de usuario al extremo derecho */
}

.campanaIcon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transición suave para el hover */
    position: relative;
    right: 80px;
}
.campanaIcon:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.username {
    font-size: 1rem;
    font-weight: 600;
    color: #343434; /* Color del texto del usuario */
    transform: translateX(-150%);
}

/* Responsividad */
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 0 15px; /* Reduce el padding en pantallas medianas */
    }

    .logoContainer {
        justify-content: flex-start; /* Mantiene el logo alineado a la izquierda */
    }

    .title {
        font-size: 1.3rem; /* Reduce el tamaño del título */
    }

    .logo {
        width: 60px;
        height: 55px;
    }

    .campanaIcon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 50px; /* Reduce la altura en pantallas pequeñas */
        padding: 0 10px; /* Reduce el padding */
    }

    .logoContainer {
        justify-content: flex-start; /* Mantiene el logo alineado a la izquierda */
    }

    .logo {
        width: 40px;
        height: 40px;
    }


    .title {
        font-size: 1.2rem; /* Reduce el tamaño del título */
        margin-left: 10px; /* Agrega espacio entre el logo y el título */
    }


    .campanaIcon {
        width: 20px;
        height: 20px;
    }

    .username {
        font-size: 0.9rem; /* Reduce el tamaño del texto del usuario */
    }
}

@media  (min-width: 480px) and (max-width: 624px) {
    .header {
        padding: 0 5px; /* Reduce aún más el padding */
    }

    .title {
        font-size: 1rem; /* Reduce el tamaño del título */
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .campanaIcon {
        display: none; /* Oculta el ícono de campana en pantallas muy pequeñas */
    }

    .username {
        font-size: 0.8rem; /* Reduce aún más el tamaño del texto del usuario */
    }
}
@media  (min-width: 350px) and (max-width: 480px) {
    .header {
        padding: 0 5px; /* Reduce aún más el padding */
    }

    .title {
        font-size: 1rem; /* Reduce el tamaño del título */

    }

    .logo {
    display: none;
    }

    .campanaIcon {
        display: none; /* Oculta el ícono de campana en pantallas muy pequeñas */
    }

    .username {
        font-size: 0.8rem; /* Reduce aún más el tamaño del texto del usuario */
    }
}